<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/data/mongo
        http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

    <context:component-scan base-package="com.xiaoyang.*" />
    <!-- 添加注解驱动 -->
   <mvc:annotation-driven enable-matrix-variables="true" />
    <!-- 允许对静态资源文件的访问 -->
    <mvc:default-servlet-handler/>
	<!-- <mvc:annotation-driven /> -->
	
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

	<!-- 配置文件上传解析器 ,支持上传10M-->
	<!-- 需要设置id=multipartResolver -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10485760"></property>
	</bean>
	<!-- 加载配置文件 -->
	<context:property-placeholder location="classpath:system.properties"/>
	
	<!-- 虚拟机hostname ：Host00155d9b0605 -->
    <mongo:mongo id="mongodb" host="${mongodUrl}" port="${mongodPort}">
        <mongo:options/>
    </mongo:mongo>
    <mongo:db-factory dbname="${mongodDb}" mongo-ref="mongodb"/>

    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
    </bean>

    <mongo:repositories base-package="com.xiaoyang.dao"/>

	<!-- 1.mysql数据库连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
    	<property name="driverClass" value="${mysqlDriver}"/>
    	<property name="jdbcUrl" value="${mysqlUrl}"/>
    	<property name="user" value="${mysqlUid}"/>
    	<property name="password" value="${mysqlPwd}"/>
    	
    	<!-- c3p0连接池私有属性 -->
    	<property name="maxPoolSize" value="30"/>
    	<property name="minPoolSize" value="10"/>
    	<!-- 关闭连接后不自动提交 -->
    	<property name="autoCommitOnClose" value="false"/>
    	<property name="checkoutTimeout" value="1000"/><!-- 超时等待 -->
    	<property name="acquireRetryAttempts" value="2"/><!-- 连接失败重试次数 -->
    </bean>
	
	<!-- 2. 创建JdbcTemplate对象 (原生jdbc操作数据库)-->  
    <bean class="org.springframework.jdbc.core.JdbcTemplate">  
        <property name="dataSource" ref="dataSource"></property>  
    </bean>  
    
     <!-- 3. 配置事务管理器类 -->  
    <!-- <bean id="txManager" class="org.springframework.jdbc.DataSourceTransactionManager">  
       <property name="dataSource" ref="dataSource"></property>  
    </bean>   -->
    
</beans>